<div class="form-container">
  <div class="title">
    🛒REACTIVE FORMS - CUSTOM FORM VALIDATIONS🛒
  </div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()" class="product-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product S.No</mat-label>
      <input matInput formControlName="productSerialNumber">
      <mat-error>
        @if (productForm.get("productSerialNumber")?.hasError('required') &&
        productForm.get("productSerialNumber")?.touched) {
        Product Serial Number is required
        }
      </mat-error>
       <mat-error>
        @if (productForm.get("productSerialNumber")?.hasError('invalidSerial') &&
        productForm.get("productSerialNumber")?.touched) {
         Only letters A–D and digits 0–9 are allowed
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Product Category</mat-label>
      <mat-select formControlName="productCategory">
        @for(category of productCategories; track category) {
        <mat-option [value]="category.value">{{category.name}}</mat-option>
        }
      </mat-select>
      <mat-error>
        @if (productForm.get("productCategory")?.hasError('required') && productForm.get("productCategory")?.touched) {
        Product Category is required
        }
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="productName">
      <mat-error>
        @if (productForm.get("productName")?.hasError('required') &&
        productForm.get("productName")?.touched) {
        Product Name is required
        }
      </mat-error>
    </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
      <mat-label>Product Description</mat-label>
      <input matInput formControlName="productDescription">
      <mat-error>
        @if (productForm.get("productDescription")?.hasError('required') &&
        productForm.get("productDescription")?.touched) {
        Product Description is required
        }
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="warn" type="reset">Reset</button>
    </div>
  </form>
</div>